.search-container {
  background-color: snow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid black 5px;
  border-radius: 5px;
  height: auto;
  width: auto;
  padding: 15px;
}

.flixBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  /* position: relative; */
  display: flex;
  justify-content: center;
  width: auto;
  margin-bottom: 20px;
}

input {
  margin: 3px;
  display: flex;
}

label {
  color: #F05454;
}

button {
  display: flex;
  justify-content: center;
  background: #F05454;
  border-radius: 5px;
  width: auto;
}

@media (min-width: 500px) {
  #body {
    margin: auto;
    /* min-height: 100vh; */
  }

  .search-container {
    background-color: snow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid black 5px;
    border-radius: 5px;
    height: auto;
    width: 800px;
    margin: auto;
  }
}
