@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#body, html {
    /* display: flex; */
    margin: auto;
    background-color: rgb(248, 11, 11);
    /* min-height: 100vh; */
    padding: 12px;
    /* opacity: 0.33; */
    background-color: #222831;
  }

  button:hover {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
label,
button {
  font-family: 'Bebas Neue', cursive;
}

h2 {
    font-size: 32px;
}

p,
span,
input {
  font-family: 'Roboto', sans-serif;
}

/* Grey - #E8E8E8
Red - #F05454
Blue - #30475E
Black - #222831 */