<body>
<div class="watchlist-movie">
    <div class="" [style]=""></div>
    <div class="horz-image-container">
    <img *ngIf="wlMovie.backdrop_path" src="https://image.tmdb.org/t/p/original/{{ wlMovie.backdrop_path }}" />
</div>  
<div class="vert-image-container">
    <img *ngIf="!wlMovie.backdrop_path" src="https://image.tmdb.org/t/p/original/{{ wlMovie.poster_path }}" />
</div>
<div class="wlDetails">
    <h2>{{ wlMovie.title }}</h2>
    <p>{{ wlMovie.overview }}</p>
    <div class="detailline">
    <p>Release Date: {{ wlMovie.release_date }}</p>
    <p>User Rating: {{ wlMovie.vote_average }}</p>
    <p>Genre: {{ wlMovie.genre_ids }}</p>
    </div>
      <button (click)="removeFromWatchlist(index)">Remove from Watchlist</button>
</div>
</div>
</body>