<h1>Watchlist</h1>
<div class="watchlist-movie">
    <div class="" [style]=""></div>
    <img *ngIf="wlMovie.backdrop_path" src="https://image.tmdb.org/t/p/original/{{ wlMovie.backdrop_path }}" />
    <img *ngIf="!wlMovie.backdrop_path" src="https://image.tmdb.org/t/p/original/{{ wlMovie.poster_path }}" />
    <p>ID: {{ wlMovie.id }}</p>
    <p>Title: {{ wlMovie.title }}</p>
    <p>Description: {{ wlMovie.overview }}</p>
    <p>Release Year: {{ wlMovie.release_date }}</p>
    <p>Rating: {{ wlMovie.vote_average }}</p>
    <p>Genre: {{ wlMovie.genre_ids }}</p>
    <button (click)="removeFromWatchlist(index)">WatchList</button>
</div>